# ctags
tags

# GNU Global tags
GPATH
GRTAGS
GSYMS
GTAGS
GTAGS.FILES
gtags.files

# cscope tags
cscope.out
cscope.in.out
cscope.po.out

# vim swap files
*.swp
*.swo

# language server files
.cache/
compile_commands.json
.ccls-cache

# vscode
.vscode
*.code-workspace

# https://github.com/github/gitignore/blob/main/C.gitignore
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
